body {
	margin: 0px;
	width: 100vw;
	height: 100vh;
	background-color: black;
	overflow: hidden;
}

canvas#game {
	display: flex;
}

@font-face {
	font-family: "Minecraft Regular";
	src: url(../assets/tiny/font/MinecraftRegular-Bmg3.otf);
}
