body {
	margin: 0px;
	width: 100vw;
	height: 100vh;
	background-color: black;
	overflow: hidden;
	cursor: none;
}

canvas#game {
	display: flex;
}

@font-face {
	font-family: "default regular";
	src: url(../assets/tiny/font/Minecraft.otf);
}

@font-face {
	font-family: "default bold";
	src: url(../assets/tiny/font/MinecraftBold.otf);
}

@font-face {
	font-family: "default italics";
	src: url(../assets/tiny/font/MinecraftItalics.otf);
}

@font-face {
	font-family: "default bold italics";
	src: url(../assets/tiny/font/MinecraftBoldItalics.otf);
}
